<div class="relative">
  <input
    type="text"
    id="token_input"
    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border appearance-none focus:outline-none focus:ring-0 peer"
    [formControl]="tokenInputValue"
    [ngClass]="[
      showError() ? 'border-red-600' : 'border-gray-300',
      showError() ? '' : 'focus:border-majorelle-blue'
    ]"
  />
  <label
    for="token_input"
    class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-anti-flash-white px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1"
    [ngClass]="[
      showError() ? 'text-red-600' : 'text-gray-500',
      showError() ? '' : 'peer-focus:text-majorelle-blue'
    ]"
  >
    Enter your API Key
  </label>
  <p
    *ngIf="tokenInputValue.dirty && tokenInputValue.errors !== null"
    id="error_help"
    class="absolute top-11 mt-2 text-xs text-red-600"
  >
    <ng-container *ngIf="tokenInputValue.hasError('required')">
      API Token is required
    </ng-container>
    <ng-container *ngIf="tokenInputValue.hasError('pattern')">
      Provided API Token does not match pattern [A-Za-z0-9]{{ "{32}" }}
    </ng-container>
  </p>
</div>
